//
//  LaunchPad MSP430G2955.xcconfig
//  Board configuration file
//  ----------------------------------
//  Developed with embedXcode
//
//  Part of embedXcode
//  Embedded Computing on Xcode
//
//  Created by  Rei Vilo on Apr 25, 2018
//  Copyright   (c) 2010-2018 http://embedxcode.weebly.com
//  Licence     All rights reserved
//
// Last update: May 09, 2018 release 9.3.6

// Board identifier
// See Boards.txt for <tag>.name=Arduino Uno (16 MHz)
//
BOARD_TAG_18  = MSP-EXP430G2955SB
BOARD_TAG = 0

// Port (optionnal)
// most common are /dev/tty.usbserial*, /dev/tty.usbmodem* or /dev/tty.uart*
//
BOARD_PORT = /dev/tty.uart*

// References for Xcode code-sense
// See Boards.txt for <tag>.build.mcu=<GCC_PREPROCESSOR_DEFINITIONS>
//
GCC_PREPROCESSOR_DEFINITIONS = __MSP430G2955__ ENERGIA

// Specify the full path and name of the application
// with /Contents/Resources/Java/** after
//
HEADER_SEARCH_PATHS = /Applications/Energia.app/Contents/Resources/Java/hardware/msp430/**

// Maximum RAM size in bytes
// given by <tag>.upload.maximum_ram_size in boards.txt for Maple and Teensy
//
//MAX_RAM_SIZE = 512

UPLOADER = mspdebug

CONFIG_NAME = LaunchPad MSP430G2955
