//
//  NodeMCU 0.9 ESP-12.xcconfig
//  Board configuration file
//  ----------------------------------
//  Developed with embedXcode
//
//  Part of embedXcode
//  Embedded Computing on Xcode
//
//  Created by  Rei Vilo on Mar 12, 2012
//  Copyright   (c) 2010-2018 http://embedxcode.weebly.com
//  Licence     All rights reserved
//
// Last update: Feb 20, 2018 release 9.1.8

// Board identifier
// See Boards.txt for <tag>.name=Arduino Uno (16 MHz)
//
BOARD_TAG  = nodemcu

// For Arduino 1.5.x, if different from Arduino 1.0.x
//
BOARD_TAG1 = nodemcu.menu.FlashSize.4M3M
//BOARD_TAG2 = generic.menu.FlashFreq.40
BOARD_TAG3 = nodemcu.menu.CpuFrequency.80
//BOARD_TAG4 = generic.menu.FlashMode.qio
BOARD_TAG5 = nodemcu.menu.UploadSpeed.115200

// Port (optionnal)
// most common are /dev/tty.usbserial*, /dev/tty.usbmodem* or /dev/tty.uart*
//
BOARD_PORT = /dev/cu.wchusbserial*

// References for Xcode code-sense
// See Boards.txt for <tag>.build.mcu=<GCC_PREPROCESSOR_DEFINITIONS>
//
GCC_PREPROCESSOR_DEFINITIONS = ESP8266 ARDUINO 

// Specify the full path and name of the application
// with /Contents/Resources/Java/** after
//
HEADER_SEARCH_PATHS = /Applications/Arduino.app/Contents/Java/** /Applications/Arduino.app/Contents/Java/** /Applications/Espressif.app/Contents/Java/**

// Maximum RAM size in bytes
// given by <tag>.upload.maximum_ram_size in boards.txt for Maple and Teensy
// given by <tag>.upload.maximum_data_size in boards.txt for Arduino 1.5.x
//
//MAX_RAM_SIZE = 2048

CONFIG_NAME = NodeMCU 0.9 ESP-12
