//
//  SensorTag CC2650 BLE EMT.xcconfig
//  Board config file
//  ----------------------------------
//  Developed with embedXcode
//
//  Part of embedXcode
//  Embedded Computing on Xcode
//
//  Created by  Rei Vilo on Oct 10, 2015
//  Copyright   (c) 2010-2018 http://embedxcode.weebly.com
//  Licence		All rights reserved
//
// Last update: Jan 16, 2017 release 6.0.7

// Board identifier
// See Boards.txt for <tag>.name=Arduino Uno (16 MHz)
//
BOARD_TAG = CC2650STK_BLE
BOARD_TAG_18 = CC2650STK_BLE

// Port (optionnal)
// most common are /dev/tty.usbserial*, /dev/tty.usbmodem* or /dev/tty.uart*
//
BOARD_PORT = /dev/cu.usbmodem*

// References for Xcode code-sense
// See Boards.txt for <tag>.build.mcu=<GCC_PREPROCESSOR_DEFINITIONS>
//
GCC_PREPROCESSOR_DEFINITIONS = __CC2650__ ENERGIA ENERGIA_MT

// Specify the full path and name of the application
// with /Contents/Resources/Java/** after
//
HEADER_SEARCH_PATHS = /Applications/Energia.app/Contents/Resources/Java/hardware/cc2600emt/**

// Maximum RAM size in bytes
// given by <tag>.upload.maximum_ram_size in boards.txt for Maple and Teensy
// given by <tag>.upload.maximum_data_size in boards.txt for Arduino 1.5.x
//
//MAX_RAM_SIZE = 2048

MULTI_INO    = 1

POST_RESET_MESSAGE = 1

CONFIG_NAME = SensorTag CC2650 BLE EMT
